services:
  db:
    image: postgres:15
    container_name: planner_db
    restart: unless-stopped
    ports:
      - '5433:5432'
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=planner_financas
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: